 * {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, * after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-aadjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  /*-----------------*/
  .wrapper {
    width: 100%;
    background: #FFFFFF;
    font-family: "Rubik";
  }
  
  .img {
    width: 100%;
    height: 100%;
  }
  
  .block {
    max-width: 1200px;
    padding: 0px 30px;
    width: 100%;
  }
  
  .grayShadow {
    -webkit-box-shadow: 0px 64px 23px -32px rgba(13, 16, 37, 0.05);
    box-shadow: 0px 64px 23px -32px rgba(13, 16, 37, 0.05);
  }
  
  .hiddenComent {
    display: none;
  }
  
  .more {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #4F5665;
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .drop {
    position: fixed;
    top: 0px;
    background-color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #4F5665;
    border-radius: 5px;
    border: 1px solid #4F5665;
    display: none;
    min-height: 100px;
    max-width: 4.5%;
  }
  
  .more:hover ~ .drop {
    display: block;
  }
  
  .more:hover {
    color: #a9afbc;
  }
  
  .comentWrapper {
    display: inline;
  }
  
  .containerTitle {
    width: 100%;
    background-color: #FDFDFD;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .blockTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .tileTitle {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    padding-bottom: 10px;
    max-width: 384px;
  }
  
  .subtitleTitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    max-width: 555px;
    padding-top: 10px;
    width: 100%;
  }
  
  .header {
    padding-top: 45px;
    padding-bottom: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 20px;
  }
  
  .header__icon {
    width: 35px;
    height: 36px;
    margin-right: 5px;
  }
  
  .header__logoText {
    margin-left: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
  }
  
  .header__nav {
    max-width: 451px;
    width: 100%;
  }
  
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px -5px;
  }
  
  .header__menuButton {
    display: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #4F5665;
  }
  
  .header__button {
    margin: 0px 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
  }
  
  .header__line {
    width: 0px;
    height: 19px;
    border: 1px solid #EEEFF2;
    display: none;
  }
  
  .header__sign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
    max-width: 233px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .header__signIn {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 54px;
    color: #0B132A;
    margin-right: 5px;
    background-color: transparent;
  }
  
  .header__signUp {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F53855;
    border: 1px solid #F53855;
    width: 150px;
    height: 45px;
    border-radius: 50px;
    background-color: transparent;
    margin-left: 5px;
  }
  
  .getStarted {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    padding-top: 45px;
    padding-bottom: 50px;
  }
  
  .getStarted__offer {
    max-width: 46%;
  }
  
  .getStarted__title {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
    margin-bottom: 10px;
  }
  
  .getStarted__subTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin: 10px 0px 25px 0px;
  }
  
  .getStarted__button {
    margin-top: 25px;
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    -webkit-box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
    box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
  }
  
  .getStarted__image {
    max-width: 51%;
  }
  
  .stat {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .stat__frame {
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 37px 0px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  
  .stat_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 10px;
  }
  
  .stat__image {
    margin-right: 36px;
    width: 55px;
    height: 55px;
  }
  
  .stat__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
    display: block;
  }
  
  .stat__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
    display: block;
  }
  
  .stat__line {
    width: 0px;
    min-height: 100%;
    border: 1px solid #EEEFF2;
  }
  
  .features {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 125px;
  }
  
  .features__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .features__image {
    max-width: 508px;
    margin-right: 20px;
  }
  
  .features__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 38%;
    margin-left: 20px;
  }
  
  .features__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    margin-top: 40px;
  }
  
  .features__subtitle {
    margin-top: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
  }
  
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 20px;
  }
  
  .features__check {
    margin-right: 12px;
    width: 20px;
    height: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  
  .features__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  
  .plan {
    padding-top: 80px;
    padding-bottom: 30px;
  }
  
  .cards {
    width: 100%;
    background-color: #FDFDFD;
    padding-top: 30px;
    padding-bottom: 75px;
  }
  
  .cards__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 20px;
  }
  
  .cards__card {
    max-width: 330px;
    width: 100%;
    margin: 0px 10px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 80px 10px 50px;
  }
  
  .cards__card:hover {
    border: 2px solid #F53838;
  }
  
  .cards__image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 145px;
    height: 165px;
  }
  
  .cards__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
    margin-top: 30px;
  }
  
  .cards__listBlock {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 20px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  .cards__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
  }
  
  .cards__icon {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 13px;
    height: 9px;
  }
  
  .cards__text {
    margin-left: 25px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
  }
  
  .cards__price {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 50px;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
  }
  
  .cards__button {
    margin-top: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 178px;
    width: 100%;
    height: 45px;
    border: 2px solid #F53838;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #F53838;
    background: #FFFFFF;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .cards__button:hover {
    color: #FFFFFF;
    background: #F53838;
    -webkit-box-shadow: 0px 20px 20px -16px rgb(245, 56, 56);
    box-shadow: 0px 20px 20px -16px rgb(245, 56, 56);
  }
  
  .network {
    padding-top: 75px;
    padding-bottom: 78px;
  }
  
  .map__image {
    margin: 0 auto;
    padding-top: 78px;
    padding-bottom: 18px;
  }
  
  .clients {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .clients__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 70px;
  }
  
  .clients__logo {
    max-height: 210px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .trusted {
    padding-top: 25px;
    padding-bottom: 30px;
  }
  
  .trusted__title {
    max-width: 448px;
  }
  
  .customers {
    width: 100%;
    background-color: #FDFDFD;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .customers__block {
    margin: 0 auto;
    overflow: hidden;
  }
  
  .customers__cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .customers__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .slick-slide.slick-current {
    background: #FFFFFF;
    border: 2px solid #F53838;
    -webkit-box-shadow: 0px 64px 23px -32px rgba(13, 16, 37, 0.05);
    box-shadow: 0px 64px 23px -32px rgba(13, 16, 37, 0.05);
  }
  
  .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    padding-bottom: 60px;
  }
  
  .slick-list {
    padding-left: 0px !important;
    overflow: hidden;
  }
  
  .customer__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .customer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .customer__photo {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
  }
  
  .customer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .customer__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #0B132A;
  }
  
  .customer__location {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #4F5665;
  }
  
  .customer__rating {
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .customer__rate {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #0B132A;
    margin-right: 11px;
  }
  
  .customer__star {
    width: 13px;
    height: 13px;
    margin-bottom: 3px;
  }
  
  .customer__comment {
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #0B132A;
    width: 85%;
  }
  
  .buttons {
    width: 100%;
    background-color: #FDFDFD;
    padding-bottom: 182px;
  }
  
  .buttons__block {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .buttons__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 20%;
  }
  
  .slick-dots ul {
    list-style: none;
  }
  
  .slick-dots button {
    border-radius: 7.5px;
    width: 15px;
    height: 15px;
    background: #DDE0E4;
    max-width: 45px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 0;
    margin: 0px 2px;
  }
  
  .slick-active button {
    border-radius: 7.5px;
    width: 45px;
    height: 15px;
    background: #F53838;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .buttons__right {
    width: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .buttons__arrow {
    width: 60px;
    height: 60px;
    border: 2px solid #F53838;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .buttons__arrowLeft {
    position: relative;
    top: 19px;
    fill: #F53838 !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .buttons__arrowRight {
    position: relative;
    top: 19px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    fill: #F53838 !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .buttons__arrow:hover {
    background: #F53838;
  }
  .buttons__arrow:hover .buttons__arrowLeft {
    fill: white !important;
  }
  .buttons__arrow:hover .buttons__arrowRight {
    fill: white !important;
  }
  
  .subscribe {
    width: 100%;
    background-color: #F8F8F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .subscribe__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    top: -50%;
    padding: 58.5px 70px;
  }
  
  .subscribe__text {
    margin-right: 5px;
  }
  
  .subscribe__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    color: #0B132A;
    max-width: 372px;
    width: 100%;
  }
  
  .subscribe__subtitle {
    margin-top: 20px;
    max-width: 410px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #4F5665;
  }
  
  .subscribe__button {
    margin-left: 5px;
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    -webkit-box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
    box-shadow: 0px 29px 23px -21px rgba(245, 56, 56, 0.75);
  }
  
  .footer {
    width: 100%;
    background-color: #F8F8F8;
  }
  
  .footer__block {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 0px 100px 0px;
  }
  
  .footer__info {
    margin-right: 10px;
  }
  
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .footer__pic {
    width: 35px;
    height: 35px;
  }
  
  .footer__name {
    width: 104px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
    margin-left: 10px;
  }
  
  .footer__text {
    margin-top: 26px;
    max-width: 340px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
  }
  
  .footer__socialNetworks {
    margin: 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 140px;
    width: 100%;
  }
  
  .footer__socialIcons {
    width: 33px;
    height: 33px;
    -webkit-box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
            box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
    border-radius: 50%;
    overflow: hidden;
  }
  
  .footer__socialIcons:before {
    content: "";
    width: 32px;
    height: 32px;
    background: #F53838;
    border-radius: 50%;
  }
  
  .footer_copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #AFB5C0;
  }
  
  .footer__nav {
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 50%;
    width: 100%;
  }
  
  .footer__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footer__header {
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    margin-bottom: 10px;
  }
  
  .footer__button {
    text-align: left;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    background: transparent;
  }
  
  .footer__button a {
    color: #4F5665;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .blog {
    font-size: 36px;
    margin: 20px 0px;
  }

  .form_laravel {
    border: 1px solid black;
    width: 100%;
  }
  .add-form {
    display: flex;
    flex-direction: column;    
  }
  .btnSubm {
    margin-top: 10px;
  }

  @media (max-width: 1024px) {
    .block {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .header {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .header__logo {
      width: 40%;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
    }
  
    .header__nav {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      max-width: 784px;
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 30px;
      vertical-align: center;
    }
  
    .header__sign {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      width: 40%;
    }
  
    .header__line {
      display: inline;
    }
  
    .getStarted__title {
      font-size: 36px;
      line-height: 48px;
    }
  
    .getStarted {
      padding-top: 10px;
      padding-bottom: 0px;
    }
  
    .features {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  
    .features__title {
      font-size: 28px;
      line-height: 35px;
    }
  
    .features__item {
      line-height: 20px;
    }
  
    .tileTitle {
      font-size: 32px;
      line-height: 40px;
      padding-bottom: 0px;
    }
  
    .cards {
      padding-bottom: 0px;
    }
  
    .cards__card {
      padding: 40px 10px 40px;
    }
  
    .cards__text {
      margin-left: 10px;
    }
  
    .map__image {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  
    .customers__card {
      margin-left: 15px;
      margin-right: 15px;
    }
  
    .subscribe__title {
      font-size: 26px;
      line-height: 32px;
    }
  
    .footer__text {
      width: 75%;
    }
  
    .footer__block {
      padding-bottom: 50px;
    }
  }
  @media (max-width: 768px) {
    .header__nav {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }
  
    .header__menu {
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
  
    .header__sign {
      width: 35%;
    }
  
    .header__signUp {
      width: 120px;
    }
  
    .getStarted {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
    }
  
    .getStarted__offer {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .getStarted__title {
      font-size: 28px;
      line-height: 40px;
    }
  
    .getStarted__button {
      width: 160px;
      height: 45px;
    }
  
    .stat__frame {
      padding: 25px 0px;
    }
  
    .stat__image {
      margin-right: 15px;
      width: 36px;
      height: 36px;
    }
  
    .stat__title {
      font-size: 18px;
      line-height: 24px;
    }
  
    .stat__subtitle {
      font-size: 16px;
      line-height: 21px;
    }
  
    .features__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .features__image {
      max-width: 50%;
      margin-right: 0px;
    }
  
    .features__text {
      max-width: 100%;
      margin-left: 0px;
    }
  
    .subtitleTitle {
      width: 75%;
    }
  
    .cards__card {
      max-width: 768px;
      width: 100%;
      margin: 5px 5px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      padding: 20px 10px;
    }
  
    .customers__cards {
      height: 320px;
    }
  
    .cards__image {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      width: 101px;
      height: 115px;
    }
  
    .cards__title {
      font-size: 15px;
      line-height: 20px;
      margin-top: 24px;
    }
  
    .cards__listBlock {
      margin-top: 0px;
    }
  
    .cards__list {
      margin-top: 15px;
    }
  
    .cards__icon {
      -ms-flex-item-align: start;
          align-self: flex-start;
      position: relative;
      top: 4px;
    }
  
    .cards__text {
      margin-left: 8px;
      font-size: 14px;
      line-height: 20px;
    }
  
    .cards__price {
      font-size: 18px;
      line-height: 25px;
    }
  
    .cards__button {
      max-width: 125px;
      width: 100%;
      font-size: 16px;
      line-height: 19px;
    }
  
    .subscribe__block {
      padding: 30px 30px;
    }
  
    .subscribe__title {
      font-size: 24px;
      line-height: 32px;
    }
  
    .subscribe__button {
      width: 180px;
    }
  
    .footer__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
    }
  
    .footer__nav {
      max-width: 100%;
      width: 100%;
      margin-left: 0px;
    }
  
    .footer__info {
      margin-right: 0px;
      margin-top: 50px;
    }
  }
  @media (max-width: 568px) {
    .header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      padding-top: 20px;
      padding-bottom: 20px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
  
    .header__menuButton {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      position: relative;
    }
  
    .burger {
      margin: 13px 0px;
    }
  
    .burger__close {
      width: 28px;
      height: 2px;
      background-color: #4F5665;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      margin: auto 0;
    }
  
    .burger__close:before {
      content: "";
      width: 28px;
      height: 2px;
      background-color: #4F5665;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      position: absolute;
      top: 11px;
    }
  
    .burger__close:after {
      content: "";
      width: 28px;
      height: 2px;
      background-color: #4F5665;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      position: absolute;
      top: -11px;
    }
  
    .burger__open {
      width: 28px;
      height: 2px;
      background-color: transparent;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      margin: auto 0;
    }
  
    .burger__open:before {
      content: "";
      width: 39px;
      height: 2px;
      background-color: #4F5665;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      position: absolute;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      right: -5px;
    }
  
    .burger__open:after {
      content: "";
      width: 39px;
      height: 2px;
      background-color: #4F5665;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      position: absolute;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      right: -5px;
    }
  
    .header__logo {
      margin-right: 0px;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin: 20px 0px;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      width: 50%;
    }
  
    .header__nav {
      width: 70%;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      margin: 0;
      position: fixed;
      top: 0;
      min-height: 70%;
      height: 100%;
      margin-left: -20px;
      background-color: white;
      padding-top: 100px;
      padding-left: 20px;
      -webkit-box-shadow: 3px 1px 19px 0px rgba(34, 60, 80, 0.6);
      box-shadow: 3px 1px 19px 0px rgba(34, 60, 80, 0.6);
      z-index: 1000;
    }
  
    .header__signUp {
      font-weight: 500;
      font-size: 21px;
      line-height: 36px;
      width: 80px;
      color: #0B132A;
      margin: 0px;
      background-color: transparent;
      border: none;
      text-align: left;
    }
  
    .header__signIn {
      font-size: 21px;
      line-height: 36px;
      width: 80px;
      text-align: left;
    }
  
    .header__sign {
      width: 70%;
      margin-left: 0px;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      margin: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      position: fixed;
      top: 0;
      height: 80px;
      margin-left: -20px;
      padding-top: 20px;
      background-color: white;
      padding-left: 20px;
      z-index: 1000;
    }
  
    .header__button {
      font-size: 21px;
    }
  
    .stat_block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  
    .stat__image {
      margin: 0;
    }
  
    .stat__title {
      margin-top: 20px;
      text-align: center;
    }
  
    .stat__subtitle {
      margin: auto;
      text-align: center;
    }
  
    .cards__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .subscribe__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    .subscribe__text {
      margin: 0;
    }
  
    .subscribe__title {
      text-align: center;
    }
  
    .subscribe__subtitle {
      text-align: center;
      margin: 20px auto;
      width: 75%;
    }
  
    .subscribe__button {
      margin: 0;
    }
  
    .header__line {
      display: none;
    }
  
    .header__menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
  
    .header__button {
      display: block;
      margin: 0;
      padding: 10px 5px;
    }
  
    .hidden {
      display: none;
    }
  
    .footer__nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: -80px;
    }
  
    .footer__column {
      margin-top: 30px;
    }
  
    .footer__column:first-child {
      margin-top: 0px;
    }
  
    .customer__user {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-item-align: start;
          align-self: flex-start;
    }
  
    .customer__rating {
      margin-left: 0px;
      margin-top: 10px;
      -ms-flex-item-align: start;
          align-self: flex-start;
    }
  
    .buttons__block {
      padding-top: 20px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  
    .customers__block ul {
      max-width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  
    .clients__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  
    .clients__logo {
      max-width: 40%;
      margin: 10px auto;
    }
  
    .hiddenComent {
      display: inline;
    }
  
    .visibleComent {
      display: none;
    }
  
    .more {
      display: inline;
    }
  }


